﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MaterPage.Master" AutoEventWireup="true" CodeBehind="Cadastrar.aspx.cs" Inherits="Trab_PSI.Idioma.Cadastrar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h3>CADASTRAR IDIOMA</h3>
    <asp:Label Text="Idioma" runat="server"/>
    <asp:TextBox runat="server" ID="txtIdioma"/>

    <asp:Button Text="Salvar" runat="server" ID="btnSalvar" OnClick="btnSalvar_Click"/>
</asp:Content>
